<!DOCTYPE html>
<head>
  <title>ImCrypt - Index page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="static/style.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="container">
{%- if current_user.is_authenticated -%}
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('upload')}}">Upload</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">{{current_user.name}}</a></li>
      <li><a href="{{url_for('logout')}}"><img src="{{current_user.avatar}}?sz=20" width="20" height="20" alt="{{current_user.name}}">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  
  <!-- Image gallery -->
  <div class="row">
    {% for image in images %}
    <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{{image}}" /></div>
    {% endfor %}
  </div>
{%- else -%}
<a href="{{url_for('login')}}" class="btn btn-primary btn-block" style="padding: 15px 0;">Login</a>
{%- endif -%}
</div>
</body>
